<html>
 <head>
    <title>The Gossip Project - Potin n°<%= @gossip.id %></title>
 </head>
 <body>
    <h1>PAGE POTIN</h1>

    <h2>Voici la page du potin n°<%= @gossip.id %></h2>
    <h3>Son auteur : <%= @gossip.author %></h3>
    <p>Le contenu du potin : <%= @gossip.content %></p>

    <a href="/">Retour à la liste des potins</a>
 </body>
</html>
